<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>

    <form action="">
        <div class="container">
         
            <div class="form">
            <h1>Login</h1>
           
            <label for="name">Email</label>
            <input type="email"  name="email" required><br>
            <label for="password">Password</label>
            <input type="password"  name="password" required><br>
            <p><a>Forgot Password ?</a></p>
            <input type="submit" value="Login" />
            
            <p>New on Florens?<a> <b>Create Account</b></a></p>
        </div>
    </div>
    </form>
</body>
</html>