<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SignUp</title>
</head>
<body>
    <form action="">
        <div class="container">
         
            <div class="form">
            <h1>Create Account</h1>
            <label for="picture">Drop your profile Picture</label>
            <input type="file" id="picUpload" name="picture"><br>
            <div class="uploadFileSection">
<label for="file" class="uploadFile" >Upload Profile Picture</label><br></div>
            <label for="name">Name</label>
            <input type="text"  name="name" required><br>
            <label for="name">Email</label>
            <input type="email"  name="email" required><br>
            <label for="password">Password</label>
            <input type="password"  name="password" required><br>
            <input type="submit" value="Login" />
            <p>Already have an account?<a><b> Login</b></a></p>
        </div>
    </div>
    </form>
</body>
</html>